**Задание 1**

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [42]:
import pandas as pand

rait = pand.read_csv('ratings.csv')
mov = pand.read_csv('movies.csv')
maxr = rait.query('rating == 5.0')['movieId'].value_counts().idxmax()
mov[(mov['movieId'] == maxr)]

     movieId                             title       genres
315      318  Shawshank Redemption, The (1994)  Crime|Drama

**Задание 2**

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [20]:
x = pand.read_csv('power.csv')
data = x[ (x['country'].isin(['Latvia', 'Estonia', 'Lithuania']) &(x['category'].isin([4, 12, 21])) &
      (x['year'].between(2005, 2010)) &(x['quantity'] >= 0)) ]

print(data['quantity'].sum())

240580.0

**Задание 3**

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [21]:
st = "https://www.finanz.ru/valyuty/v-realnom-vremeni"
a = pand.read_html(st,encoding='utf-8')
a[0]

,0,1,2,3,4,5,6,7,8,9,10,11
0,ММВБ,2 893,"0,4%",Nasdaq,11 155,"-1,6%",Биткойн,10 604,"-0,1%",USD/RUB,784500,"0,0%"
1,РТС,1 169,"0,9%",S&P500,3 361,"-1,4%",Нефть,419,"0,2%",EUR/RUB,920165,"0,0%"
2,Dow,27 773,"-1,3%",FTSE100,5 950,"0,1%",Золото,1 882,"0,2%",EUR/USD,11731,"0,0%"

**Задание 4**

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [22]:
def compare(arg):
    if arg < 2:
        return 'низкий рейтинг'
    if (2 < arg <= 4):
        return 'средний рейтинг'
    if arg > 4:
        return 'высокий рейтинг'
    
rt = pand.read_csv('ratings.csv')
rt['class'] = rt['rating'].apply(compare)
rt.head()

   userId  movieId  rating   timestamp            class
0       1      307     3.5  1256677221  средний рейтинг
1       1      481     3.5  1256677456  средний рейтинг
2       1     1091     1.5  1256677471   низкий рейтинг
3       1     1257     4.5  1256677460  высокий рейтинг
4       1     1449     4.5  1256677264  высокий рейтинг

**Задание 5**

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [37]:
def srt(keyword):
    for key in geo_data:
        if keyword in geo_data[key]:
            return key
    return 'undefined'

geo_data = {'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

geo = pand.read_csv('keywords.csv')
geo['region'] = geo['keyword'].apply(srt)
geo.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

**Задание 6**

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [54]:
rating_3 = pandd.read_csv('ratings.csv')

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [55]:
movies = pand.read_csv('movies.csv')

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [63]:
import re

def production_year (title):
    t_year = title.split(' ')
    
    if re.findall(regex_year,t_year[-1]):
        return (t_year[-1])
    else:
        return ('(1900)')

regex_year = '\(\d{4}\)'
movies['year'] = movies['title'].apply(production_year)
movies.head()
movies_yeas = rating_3.merge(movies, on= 'movieId', how= 'left')
movies_yeas.groupby('year').mean()[['rating']].sort_values('rating', ascending = False).head(19)

NameError: name 'pandd' is not defined